@font-face {
  font-family: 'CenturyGothicRegular';
  src: url('../../fonts/CenturyGothicRegular.woff') format('woff'),
  url('../../fonts/CenturyGothicRegular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}