.video-section{
  //padding: 200px 0;
  padding-top: 350px;
  padding-bottom: 250px;
  //max-height: 1080px;
  background-color: #00c6db;
  background-image: url("../../img/video-section__background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .video-section__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span{
      color: #fff;
      margin-top: 105px;
    }
  }
}

